/* static/css/style.css */

.main-heading {
  color: #ffffff !important;
  font-size: 3.5rem;
  font-weight: 600;
  padding-bottom: 2rem;
}
.main-section {
  font-family: "Lato", Arial, sans-serif;

  color: #ffffff !important;
  width: 50%;
  margin: auto;
  padding: 2rem 1rem;
  padding-bottom: 5rem;
  text-align: center;
  background-color: #6d5aaa; /* Change the color code as desired */
  transition: background-color 300ms;
}
.date {
  font-size: 1rem;
  font-weight: 800;
  padding-bottom: 1.5rem;
}
.image {
  min-height: 19rem;
  padding-bottom: 0.75rem;
}
.click-text {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 700;
}
