<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Random Image</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
   
  </head>
  <body>
    <section class="main-section">
      <div class="main-heading">Sample Page</div>
      <div class="date">Today is: {{ today_date }}</div>
      <img src="{{ image_url  }}" class="image" />
      <p ><a href="/" class="click-text">Click here to get a random image. </a></p>
    </section>
  </body>
</html>
